.introducao{
    margin: 0 20px;
}

.introducao p{
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    font-size: 1em;
}

/* Customização da Introdução: Highlights */

.highlight1, .highlight2, .highlight3, .highlight4, .highlight5{
    font-weight: bold;
}

.highlight1{
    color: var(--highlight1);
}

.highlight2{
    color: var(--highlight2);
}

.highlight3{
    color: var(--highlight3);
}

.highlight4{
    color: var(--highlight4);
}

.highlight5{
    color: var(--highlight5);}

.highlight6{
    color: var(--highlight6);}