main{
    margin: 20px auto;
    font-family: "Alice", serif;
    width: fit-content;
    height: fit-content;

    --cor-de-links: #00BF63;
    --borda-mobile: 5px solid var(--cor-de-links);
}

main *::selection{
    background-color: yellow;
    color: black;
}

.link, .conteudo{
    border-radius: 2px;
}

.topico{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}

.link{
    font-size: 64px;
    font-weight: bold;
    background-color: var(--cor-de-links);
    width: 70px;
    height: 70px;
    text-align: center;
    margin-right: 10px;
    text-shadow: #000 2px 3px 15px;
    text-decoration: none;
}

.link:hover{
    background-color: green;
    box-shadow: 1px 1px 20px rgba(0, 255, 34, 0.5);
}

.conteudo{
    max-width: 85vw;
    background-color: rgba(176, 255, 217, 1);
    padding: 15px;
    color: black;
}

@media (max-width: 860px){
    .topico{
        margin-bottom: 50px;
        position: relative;
    }

    .link{
        background-color: unset;
        border-top: var(--borda-mobile);
        border-bottom: var(--borda-mobile);
        width: 30vw;
        margin-bottom: 10px;
    }

    .link:hover{
        --borda-mobile: 5px solid white;
    }

    .conteudo::before{
        content: '';
        /* background-image: url("../img/link.jpg"); */
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        z-index: -1;
    }

    .conteudo{
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        border: 1px solid white;
        box-shadow: 1px 1px 10px rgba(0, 255, 34, 0.5);
        border-radius: 10px;
    }

    .conteudo1::before{
        background-image: url("../img/topico1.gif");
    }
    .conteudo2::before{
        background-image: url("../img/topico2.jpg");
    }
    .conteudo3::before{
        background-image: url("../img/topico3.jpg");
    }
    .conteudo4::before{
        background-image: url("../img/topico4.jpg");
    }
    .conteudo5::before{
        background-image: url("../img/topico5.jpg");
    }
    .conteudo6::before{
        background-image: url("../img/topico6.jpg");
    }
    .conteudo7::before{
        background-image: url("../img/topico7.jpg");
    }
    .conteudo8::before{
        background-image: url("../img/topico8.jpg");
    }
    .conteudo9::before{
        background-image: url("../img/topico9.jpg");
    }
    .conteudo10::before{
        background-image: url("../img/topico10.jpg");
    }
}