:root{
    --cor-padrao: #1D41FF;
    --borda: 5px solid var(--cor-padrao);
    --opacidade: 0.8;
    --highlight1: #FF3131;
    --highlight2: #0EB0C2;
    --highlight3: #8C52FF;
    --highlight4: #BBA800;
    --highlight5: #00BF63;
}

*{
    margin: 0;
    color: white
}

*::selection{
    background-color: var(--cor-padrao);
}

body::before{
    content: '';
    background-color: rgba(0, 0, 0, var(--opacidade));
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

body{
    border-top: var(--borda);
    /* border-bottom: var(--borda); */
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}